<div class="callout secondary">
    <div class="grid-x align-center">
        <h3 class="cell small-12 large-7">Formulario de Contacto:</h3>
        <form class="cell small-12 large-7" action="{% url 'home_app:Add_Contacto' %}" method="POST">{% csrf_token %}
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                  <label>Nombres
                    <input type="text" name="full_name" id="id_full_name" placeholder="nombres...">
                  </label>
                </div>
                <div class="medium-6 cell">
                  <label>Correo
                    <input type="text" name="email" id="id_email" placeholder="Correo ...">
                  </label>
                </div>
                <div class="medium-12 cell">
                    <label>Mensaje
                        <textarea placeholder="Mensaje" name="message" id="id_message"></textarea>
                    </label>
                </div>
                <div class="medium-12 cell">
                    <button type="submit" class="success button">Enviar</button>
                </div>
            </div>
        </form>
        <p class="cell large-8">otras formas de contacto</p>
        <p class="cell large-8">
          <span class="label warning">correo: {{correo}} </span>
          <span class="label warning">Telefono: {{phone}} </span>
        </p>
    </div>
</div>